html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

body {
    min-width: 800px;
    min-height: 570px;
    background: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cba {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.main-container {
    margin: 50px auto;
    top: 0;
    width: 800px;
    height: 570px;
    border: 15px solid #007a5c;
    background: #00daa2;
}

.swiffycontainer, .swc {
    top: 0;
    width: 100%;
    height: 100%;
}

.swiffycontainer div {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiffycontainer canvas {
    width: 802px !important;
    left: -1px !important;
}

.preloader {
    top: 0;
    bottom: 0;
    width: 260px;
    height: 53px;
    text-align: center;
}

.preloader-text {
    width: 150px;
    height: 53px;
    background: url(../img/loading.png) no-repeat;
    display: inline-block;
}

.socialButtons {
    bottom: 30px;
    width: 300px;
    height: 50px;
    text-align: center;
}

.socialButtons div {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    opacity: 0.8;
}

.socialButtons div:hover, .socialButtons div:active {
    opacity: 1;
}

.button {
    text-align: center;
    cursor: pointer;
    position: absolute;
    margin: auto;
}

.backButton {
    left: 40px;
    top: 20px;
    width: 190px;
    height: 49px;
    text-align: center;
}

.backButton-text {
    width: 92px;
    height: 49px;
    background: url(../img/button-back.png) no-repeat;
    display: inline-block;
}

.sendButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 390px;
    height: 49px;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.sendButton-text {
    width: 291px;
    height: 49px;
    background: url(../img/button-sendmail.png) no-repeat;
    display: inline-block;
}

.replayButton {
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 49px;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.replayButton-text {
    width: 140px;
    height: 46px;
    background: url(../img/button-replay.png) no-repeat;
    display: inline-block;
}

.bigButtons {
    width: 760px;
    height: 55px;
    top: 380px;
}

.shareVk {
    width: 51px;
    height: 50px;
    background: url(../img/vk.png) no-repeat;
}

.shareFb {
    width: 51px;
    height: 50px;
    background: url(../img/fb.png) no-repeat;
}

.shareTw {
    width: 51px;
    height: 50px;
    background: url(../img/tw.png) no-repeat;
}

.shareOk {
    width: 50px;
    height: 50px;
    background: url(../img/ok.png) no-repeat;
}

.logo {
    width: 131px;
    height: 33px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0.4;
}

.replayButton:hover .left-anim {
    -webkit-animation: play .6s steps(11) infinite;
    -moz-animation: play .6s steps(11) infinite;
    animation: play .6s steps(11) infinite;
}

.sendButton:hover .left-anim {
    -webkit-animation: play .6s steps(11) infinite;
    -moz-animation: play .6s steps(11) infinite;
    animation: play .6s steps(11) infinite;
}

.backButton:hover .left-anim {
    -webkit-animation: play .6s steps(11) infinite;
    -moz-animation: play .6s steps(11) infinite;
    animation: play .6s steps(11) infinite;
}

.preloader .left-anim {
    -webkit-animation: play .6s steps(11) infinite;
    -moz-animation: play .6s steps(11) infinite;
    animation: play .6s steps(11) infinite;
}

.left-anim {
    width: 44px;
    height: 50px;
    margin: 2% auto;
    background: url(../img/chalk-sprites.png) left center;
    display: inline-block;
}

.replayButton:hover .right-anim {
    -webkit-animation: play .6s steps(11) infinite;
    -moz-animation: play .6s steps(11) infinite;
    animation: play .6s steps(11) infinite;
}

.sendButton:hover .right-anim {
    -webkit-animation: play .6s steps(11) infinite;
    -moz-animation: play .6s steps(11) infinite;
    animation: play .6s steps(11) infinite;
}

.backButton:hover .right-anim {
    -webkit-animation: play .6s steps(11) infinite;
    -moz-animation: play .6s steps(11) infinite;
    animation: play .6s steps(11) infinite;
}

.preloader .right-anim {
    -webkit-animation: play .6s steps(11) infinite;
    -moz-animation: play .6s steps(11) infinite;
    animation: play .6s steps(11) infinite;
}

.right-anim {
    width: 44px;
    height: 50px;
    margin: 2% auto;
    background: url(../img/chalk-sprites.png) left center;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    transform: scale(-1, 1);
    display: inline-block;
}

.black-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}

@-webkit-keyframes play {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -476px 0;
    }
}

@-moz-keyframes play {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -476px 0;
    }
}

@keyframes play {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -476px 0;
    }
}

.end-buttons {
    display: none;
    -webkit-animation: fade 1s;
    -moz-animation: fade 1s;
    animation: fade 1s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-height: 801px) {
    .main-container {
        bottom: 0;
    }

}